<h1>Question</h1>
<table class="table">
  <thead>
    <tr>
      <th>Question</th>
    </tr>
  </thead>
  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.question_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
